@media only screen and (max-width: 1023px)
	.topbar
		height: 20px
		&__list
			line-height: 20px
			font-size: (9px)
	.header
		height: 60px
		&__logo
			p
				font-size: (16px)
			span
				font-size: (9px)
		&__list
			width: 355px
		&__link
			height: 30px
			font-size: (9px)
	.slide
		&__img
			width: 338px
		&__text
			width: 310px
			p
				font-size: (24px)
			span
				font-size: (12px)
		&__button
			font-size: (12px)
	.column
		width: (400/960)*100%
	.latestWork
		&__name
			text-align: center
		&__text
			text-align: center
		&__link
			text-align: center
	.services
		&__service
			width: 330px

@media only screen and (max-width: 767px)
	.slider
		height: 270px
	.slide
		&__img
			width: 288px
		&__text
			width: 250px
			p
				font-size: (16px)
			span
				font-size: (10px)
		&__button
			width: 100px
			height: 20px
			line-height: 20px
			font-size: (10px)
	.column
		width: (350/960)*100%
	.controls
		height: 30px
	.prev,.next
		height: 29px
	.services
		transform: translateY(-24px)
		&__service
			width: 230px
		&__name
			height: 30px
			line-height: 30px
			font-size: (13px)
		&__text
			margin-top: 10px
			font-size: (10px)
	.shout
		font-size: (12px)
		margin-bottom: 0px
	.latestWork
		justify-content: center
		margin-bottom: 10px
		&__name
			font-size: (13px)
		&__img
			width: 180px
			margin: 10px auto
		&__text
			font-size: (10px)
			margin-bottom: 8px
		&__link
			font-size: (10px)
	.footer
		padding-bottom: 15px
		font-size: (10px)
		&__name
			font-size: 13px
			height: 40px
			line-height: 40px
	.blogPost
		&__text, &__title
			font-size: (10px)
		&__date
			font-size: (7px)
	.linkBlock
		&__li
			line-height: 1.4
	.form
		&__text
			font-size: (10px)
			height: 20px
		&__submit
			height: 20px
			width: 60px
			font-size: (10px)
	.newsletter
		&__link
			i
				width: 20px
				height: 20px
				line-height: 20px
				font-size: 10px
	.copyright
		height: 30px
		font-size: (10px)
		&__text,&__author
			line-height: 30px